{% extends "base.html" %} {% block content %}
    <!-- Main message -->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ url_for('static', filename='assets/img/main_img.png') }}" class="d-block mx-lg-auto img-fluid" alt="Art Including Chart and Other elements">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Stockpicking at it's best! Create your portfolio.</h1>
            <p class="lead">Pick from more than 300 stocks. More than 20 criteria available to pick your stocks and easily backtest agains the S&P.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign Up!</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Example</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Data Table -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
    <div class="container">
        <table class="table table-striped" id="data">
            <thead>
                <tr>
                    {% for col in column_names %}
                        <th>{{col.title()}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.sector }}</td>
                    <td>{{ row.industry }}</td>
                    <td>{{ row.fulltimeemployees }}</td>
                    <td>{{ row.targetmeanprice }}</td>
                    <td>{{ row.numberofanalystopinions }}</td>
                    <td>{{ row.recommendationkey }}</td>
                    <td>{{ row.trailingeps }}</td>
                    <td>{{ row.pegratio }}</td>
                    <td>{{ row.enterprisetoebitda }}</td>
                    <td>{{ row.enterprisetorevenue }}</td>
                    <td>{{ row.pricetobook }}</td>
                    <td>{{ row.payoutratio }}</td>
                    <td>{{ row.beta }}</td>
                    <td>{{ row.trailingpe }}</td>
                    <td>{{ row.dividendyield }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
        {% if prev_url %}
          <a href="{{ prev_url }}">Prev</a>
        {% endif %}
        {% if next_url %}
          <a href="{{ next_url }}">Next</a>
        {% endif %}
        </nav>
  </div>
{% endblock %}