{% extends "base.html" %} {% block content %}
    <!-- Main message -->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ url_for('static', filename='assets/img/main_img.png') }}" class="d-block mx-lg-auto img-fluid" alt="Art Including Chart and Other elements">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Stockpicking at it's best! Create your portfolio.</h1>
            <p class="lead">Pick from more than 300 stocks. More than 20 criteria available to pick your stocks and easily backtest agains the S&P.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign Up!</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Example</button>
            </div>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sector
        </button>
        <ul class="dropdown-menu">
          {% for sector in sectors %}
              <li><a class="dropdown-item" href="{{ url_for('sector_filter', sector = sector) }}">{{ sector }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container">
        <button class="btn btn-secondary" id="btn-clear">Clear</button>
        <table class="table table-striped" 
              id="table" 
              data-toolbar = "#toolbar"
              data-pagination="true" 
              data-search="true"
              data-show-search-clear-button="true"
              data-show-multi-sort="true"
              data-show-multi-sort-button="true"
              data-click-to-select="true"
              data-show-columns="true"
              data-filter-control="true"
              data-show-search-clear-button = "true"
              data-filter-control-visible="true">
              <!-- data-show-toggle="true" -->
            <thead>
                <tr>
                    {% for col in column_names %}
                        <th data-field="{{ col }}" data-sortable="true">
                          {{col.title()}}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for col in column_names %}
                        <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
{% endblock %}