#btn-clear{
    position: relative;
    top: 48px;
}

#table{
    border-radius: 6px;
    overflow: hidden;
  }

/* #sector{
    width: 50%;
}

#pe_ratio{
    width: 50%;
    position: relative;
}

#ev_ebitda{
    width: 50%;
    position: relative;
} */
